@use 'variables' as v;
@use 'mixins' as m;

// Contact Section
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: v.$warm-beige;

    p {
        margin: 0.5rem 0;
        font-size: 1.1rem;
    }
}

.contact-links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;

    a {
        height: 5rem;
        width: 5rem;
        display: flex;
        align-items: center;

        &:hover .btn-icon-g {
            fill: v.$highlight;
        }
    }
}

.contact-detail {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    margin: 0.5rem 0;

    a {
        color: v.$highlight;
        text-decoration: none;
        font-weight: bold;

        &:hover {
            color: v.$primary-blue;
        }
    }
}

.contact-icon {
    height: 2rem;
    width: 2rem;
    display: inline-block;
}