@use 'variables' as v;
@use 'mixins' as m;

// Contact Section
.contact {
    @include m.display-flex($direction: column, $gap: 1rem);
    background-color: v.$warm-beige;

    p {
        margin: 0.5rem 0;
        font-size: 1.1rem;
    }
}

.contact-links-container {
    @include m.display-flex;
    padding: 0 1rem;

    a {
        height: 5rem;
        width: 5rem;
        @include m.display-flex;

        &:hover .btn-icon-g, &:focus .btn-icon-g {
            fill: v.$highlight;
        }
    }
}

.contact-detail {
    @include m.display-flex($gap: 1rem);
    font-size: 1.2rem;
    margin: 0.5rem 0;

    a {
        color: v.$highlight;
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s ease;

        &:hover, &:focus {
            color: v.$primary-blue;
        }
    }
}

.contact-label {
    @include m.display-flex($gap: 0.5rem);

    @include m.respond('mobile') {
        display: none;
    }
}

.contact-icon {
    @include m.height-width(2rem, 2rem);
    display: inline-block;
}