@use 'variables' as v;
@use 'mixins' as m;

.education {
    background-color: v.$light-yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .education-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        place-items: center;

        .education-img {
            width: 25rem;
            object-fit:fill;
        }

        .education-details {
            @include m.respond('tablet') {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }

        @include m.respond('tablet') {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        p {
            font-size: 1.2rem;
        }
    }
}