@use 'variables' as v;
@use 'mixins' as m;

.education {
    background-color: v.$light-yellow;
    @include m.display-flex($direction: column);

}

.education-container {
    @include m.display-grid;

    @include m.respond('tablet') {
        @include m.display-flex($direction: column);
    }

    p {
        font-size: 1.2rem;
    }
}

.education-img {
    @include m.height-width($width: 25rem);
    object-fit: fill;
}

.education-details {
    @include m.respond('tablet') {
        @include m.display-flex($direction: column);
    }
}