@use 'variables' as v;
@use 'mixins' as m;

.experience {
    background-color: v.$super-light-pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    .years {
        font-size: 1.5rem;
        text-decoration: none;
    }

    ul {
        list-style-type: circle;
        padding: 1rem;
        font-size: 1.2rem;
    }

    .timeline {
        position: relative;
        margin: 0 auto;
        width: 100%;

        &::after {
            content: '';
            position: absolute;
            width: 6px;
            background-color: v.$white;
            top: 0;
            bottom: 0;
            left: 50%;
            margin-left: -3px;

            @include m.responsive('tablet') {
                left: 31px;
            }

            @include m.responsive('mobile') {
                left: 31px;
            }
        }

        .timeline-item {
            padding: 10px 40px;
            position: relative;
            background-color: inherit;
            width: 50%;

            @include m.responsive('tablet') {
                width: 100%;
                padding-left: 70px;
                padding-right: 25px;
            }

            @include m.responsive('mobile') {
                width: 100%;
                padding-left: 70px;
                padding-right: 25px;
            }

            &::before {
                @include m.responsive('tablet') {
                    left: 60px;
                    border: medium solid white;
                    border-width: 10px 10px 10px 0;
                    border-color: transparent white transparent transparent;
                }

                @include m.responsive('mobile') {
                    left: 60px;
                    border: medium solid white;
                    border-width: 10px 10px 10px 0;
                    border-color: transparent white transparent transparent;
                }
            }

            &::after {
                content: '';
                position: absolute;
                width: 25px;
                height: 25px;
                right: -17px;
                background-color: v.$white;
                border: 4px solid v.$highlight;
                top: 15px;
                border-radius: 50%;
                z-index: 1;
            }

            .timeline-content {
                padding: 20px 30px;
                background-color: v.$white;
                position: relative;
                border-radius: 6px;
            }
        }

        .left {
            left: 0%;

            &::before {
                content: " ";
                height: 0;
                position: absolute;
                top: 22px;
                width: 0;
                z-index: 1;
                right: 30px;
                border: medium solid v.$white;
                border-width: 10px 0 10px 10px;
                border-color: transparent transparent transparent v.$white;
            }

            &::after {
                @include m.responsive('tablet') {
                    left: 15px;
                }

                @include m.responsive('mobile') {
                    left: 15px;
                }
            }
        }

        .right {
            left: 50%;

            @include m.responsive('tablet') {
                left: 0%;
            }

            @include m.responsive('mobile') {
                left: 0%;
            }

            &::before {
                content: " ";
                height: 0;
                position: absolute;
                top: 22px;
                width: 0;
                z-index: 1;
                left: 30px;
                border: medium solid v.$white;
                border-width: 10px 10px 10px 0;
                border-color: transparent v.$white transparent transparent;
            }

            &::after {
                left: -16px;

                @include m.responsive('tablet') {
                    left: 15px;
                }

                @include m.responsive('mobile') {
                    left: 15px;
                }
            }
        }
    }
}