@use 'variables' as v;
@use 'mixins' as m;

// Hero Section
.hero {
    @include m.display-flex($justify: space-between, $gap: 2rem);

    h1 {
        font-size: 4rem;
        color: v.$primary-blue;

        @include m.respond('tablet') {
            font-size: 3.5rem;
        }

        @include m.respond('mobile') {
            font-size: 2rem;
        }
    }

    p {
        margin: 1rem 0;
        color: v.$terracotta;
        font-family: v.$font-family-highlight;
        font-weight: 500;
    }

    span {
        text-decoration: none;
        font-family: inherit;
    }

    @include m.respond('tablet') {
        flex-direction: column;
    }
}


.hero-content {
    @include m.respond('tablet') {
        @include m.display-flex($direction: column);
    }
}

.hero-button {
    margin-top: 2rem;
}

.resume-btn {
    @include m.btn;
    @include m.height-width($width: max-content);
    font-size: 1.5rem;
    @include m.display-flex($gap: 0.5rem);

    @include m.respond('tablet') {
        font-size: 1.2rem;
        padding: 1rem 1.5rem;
    }

    @include m.respond('mobile') {
        font-size: 1rem;
        padding: 1rem;
    }

    &:hover, &:focus {
        background-color: v.$soft-blush-pink;
        color: v.$highlight;
    }

    path {
        fill: v.$white;
    }

    &:hover path, &:focus path {
        fill: v.$highlight;
    }
}

.hero-text {
    font-size: 2.5rem;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    border-right: 2px solid v.$terracotta;
    animation: typing 10s steps(30) infinite, blink-caret 0.5s step-end infinite;

    @include m.no-animation;

    @include m.respond('tablet') {
        font-size: 1.5rem;
    }

    @include m.respond('mobile') {
        font-size: 1.2rem;
    }

    @keyframes typing {

        from,
        to {
            max-width: 0;
        }

        50% {
            max-width: 100%;
        }
    }

    @keyframes blink-caret {
        50% {
            border-color: transparent;
        }
    }
}

.hero-image {
    @include m.height-width($height: 30rem);
    margin-left: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    @include m.respond('tablet') {
        @include m.height-width($height: 25rem);
    }

    @include m.respond('mobile') {
        @include m.height-width($height: 20rem);
    }
}

.hi_icon {
    display: inline-block;
    animation: tilt-n-move-shaking 1s infinite ease-in-out;

    @include m.no-animation;

    @keyframes tilt-n-move-shaking {
        0% {
            transform: translate(0, 0) rotate(0deg);
        }

        25% {
            transform: translate(5px, 5px) rotate(5deg);
        }

        50% {
            transform: translate(0, 0) rotate(0deg);
        }

        75% {
            transform: translate(-5px, 5px) rotate(-5deg);
        }

        100% {
            transform: translate(0, 0) rotate(0deg);
        }
    }
}

.special-i {
    display: inline-block;
    position: relative;

    &::after {
        content: '';
        @include m.height-width(15px, 15px);
        background-color: v.$highlight;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 50%;
        z-index: 1;
        transform: translate(-50%, 50%);

        @include m.respond('tablet') {
            transform: translate(-50%, 20%);
        }

        @include m.respond('mobile') {
            @include m.height-width(10px, 10px);
            transform: translate(-50%, 20%);
        }
    }
}