@use 'variables' as v;
@use 'mixins' as m;

// Projects
.projects {
    @include m.display-flex($direction: column, $gap: 2rem);
    background-color: v.$light-green;

    .project-container {
        @include m.display-flex($gap: 2rem, $wrap: wrap);
    }
}

.card {
    @include m.card($border-radius: 0.5rem);
    @include m.height-width($width: 30rem);
    background-color: v.$white;

    @include m.respond('mobile') {
        @include m.height-width($width: 20rem);
    }

    .card-img {
        @include m.height-width($height: 20rem);
        object-fit: cover;
    }

    .card-content {
        padding: 1rem;
        text-align: center;
    }
}

.icon-container {
    @include m.display-flex($justify: space-between, $gap: 1rem);
}

.btn-container {
    @include m.display-flex($gap: 1rem);
    margin-top: 1rem;

    @include m.respond('mobile') {
        flex-direction: column;
    }

    a {
        @include m.btn;
        @include m.display-flex($justify: space-between, $gap: 0.5rem);
        @include m.height-width($height: 3rem);

        &:hover, &:focus {
            background-color: v.$soft-blush-pink;
            color: v.$highlight;
        }

        .btn-icon-g {
            fill: v.$white;
        }

        .btn-icon-svg {
            stroke: v.$white;
        }

        &:hover .btn-icon-g, &:focus .btn-icon-g {
            fill: v.$highlight;
        }

        &:hover .btn-icon-svg, &:focus .btn-icon-svg {
            stroke: v.$highlight;
        }
    }
}