@use 'variables' as v;
@use 'mixins' as m;

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: v.$light-blue;

    .skills-container {
        display: flex;
        align-items: center;
        justify-content: center;

        div {
            height: 8rem;
            width: 8rem;
            margin: 0 1rem;
            padding: 2rem;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: all 0.3s ease;
            position: relative;
            top: 0;
            display: inline-block;
            border-radius: 50%;
            background-color: v.$white;

            .tooltiptext {
                visibility: hidden;
                background-color: v.$highlight;
                color: v.$white;
                text-align: center;
                text-decoration: none;
                padding: 0.5rem 1rem;
                border-radius: 0.5rem;
                position: absolute;
                width: max-content;
                z-index: 1;
                bottom: 100%;
                left: 50%;
            }

            &:hover {
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
                top: -0.5rem;
            }

            &:hover .tooltiptext {
                visibility: visible;
            }
        }
    }
}