@use 'variables' as v;
@use 'mixins' as m;

.skills {
    @include m.display-flex($direction: column, $gap: 2rem);
    background-color: v.$light-blue;

}

.skills-container {
    @include m.display-flex($wrap: wrap);
}

.skill-item {
    @include m.card($border-radius: 50%);
    @include m.height-width(8rem, 8rem);
    @include m.move-up-hover;
    padding: 2rem;
    display: inline-block;
    background-color: v.$white;

    @include m.respond('mobile') {
        @include m.height-width(6rem, 6rem);
    }

    span {
        @include m.tooltip($background: v.$highlight, $font-family: v.$font-family-highlight);
        transition: visibility 0.3s ease;
    }


    &:hover,
    &:focus {
        top: -0.5rem;
    }

    &:hover span
    &:focus span {
        visibility: visible;
        text-decoration: none;
    }
}
